<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HOLA_PRUEBA_TFG"
        tools:targetApi="31">
        <activity
            android:name=".Eliminar_perfil"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Cambiar_password"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Actualizar_Email"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Actualizar_perfil"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Olvidar_password"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Perfil_Usuario"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Telefono_Verificacion_OTP_Codigo_Pantalla_2"
            android:exported="false" />
        <activity
            android:name=".Telefono_Verificacion_OTP_Pantalla_1"
            android:exported="false" />
        <activity
            android:name=".Email_Verificacion"
            android:exported="false" />
        <activity
            android:name=".Pop_Up_Eleccion_Metodo_Autentificacion"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity_PantallaTransicion2"
            android:exported="false" />
        <activity
            android:name=".MainActivity_IniciarSesion"
            android:exported="false" />
        <activity
            android:name=".MainActivity_PantallaInicio"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Pantalla_registrarse"
            android:exported="false" />
        <activity
            android:name=".MainActivity_PantallaTransicion1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>